doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Build a user interface with Javascript coroutines
        link(rel="stylesheet", type="text/css", href="style/prism-tomorrow.css")
        link(rel="stylesheet", type="text/css", href="style/theme.css")
        link(rel="stylesheet", type="text/css", href="style/traffic-light.css")
        script(type='module', async, src='js/index.js')
        script(type='module', async, src='js/traffic-light-demo.js')
        script(type='module', async, src='js/demo-basic.js')

    body
        main#main.scrollable
            include ./sections/definition.pug
            include ./sections/generator-function.pug
            include ./sections/return-value.pug
            include ./sections/iterable-protocol.pug
            include ./sections/iterator-protocol.pug
            include ./sections/state-machine.pug
            include ./sections/taffic-light-demo.pug
            include ./sections/rendering-machine.pug
            include ./sections/yield-assignation.pug
            include ./sections/redux.pug
            include ./sections/custom-elements.pug
            include ./sections/framework.pug
            include ./sections/framework-basic-demo.pug