section#controller-demo.centered
    div#counter
        button(is='action-button', action='increment') increment
        app-counter 0
        button(is='action-button', action='decrement') decrement

