:root{
    font-size: 18px;
    --section-height: 100vh;
    --heading-height: 3rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: var(--section-height);
    overflow: hidden;
}

body * {
    box-sizing: inherit;
}

pre {
    margin:0;
    overflow: hidden auto;
}

p {
    max-width: 70ch;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

h1, h2, h3 {
    margin: 0;
    display: grid;
    align-items: center;
    font-size: 1.6em;
    padding: 0.8em;
}

main {
    display: grid;
    grid-auto-flow: row;
}

main > * {
    height: var(--section-height);
}

main > *:nth-child(2n){
    background: #001d6c;
    color: aliceblue;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.centered {
    display: grid;
    place-items: center;
}

[is=app-story] {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-areas: "head code"
                         "text code";
    overflow: hidden;
}

.code-container {
    grid-area: code;
    background: #2d2d2d;
    display: grid;
    align-items: center;
    padding: 0 2em;
    overflow: hidden auto;
}

[is=app-story] .scrollable, [is=app-story] .scrollable > *{
    height: calc(var(--section-height) - var(--heading-height));
}

app-story-point {
    display: grid;
    width: 100%;
    place-items: center;
}


.scrollable {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: hidden scroll;
}

.scrollable > * {
    scroll-snap-align: center;
}

h2 {
    height: var(--heading-height);
}

code-point{
    display: block;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.step-inline-hidden {
    transform: translateX(150vw);
}

.step-block-hidden {
    display: none;
}

.step-active{
    opacity: 1;
    background: #494949;
}

.step-faded{
    opacity: 0.8;
}